.mbti-table {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.mbti-table table {
  border-collapse: collapse;
}

.mbti-table td {
  border: 1px solid #ccc;
  padding: 10px 20px;
  text-align: center;
  font-family: monospace;
  font-size: 16px;
}

.mbti-table td:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}